@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

.ui-autocomplete {
    overflow-y: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    transition: all .3s;
}

.editor-menu {
    width: 100%;
    height: 6rem;
    background-color: #eee;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0 5px 10px;
    transition: all .3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.e {
    width: 100%;
    height: 6rem;
    background-color: #eee;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0 5px 10px;
    transition: all .3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn {
    background-color: #37474F;
    border-radius: 8px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin-right: 8px;
    padding: 10px 12px;
    text-align: center;
    transition: all .3s;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.live {
    background-color: #37474F;
    border-radius: 8px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin-right: 8px;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.test {
    background-color: #37474F;
    border-radius: 8px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin-right: 8px;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.live > * {
    cursor: pointer;
}

.container {
    position: absolute;
    bottom: 0;
    top: 7rem;
    width: 100%;
    display: flex;
    transition: all .3s;
}

.left, .right {
    height: 100%;
    border-radius: 10px;
    width: 50%;
    border: 1px solid #d5d5d5;
}

.right {
    flex: 1;
}
.editor-html, #tags {
    width: 100%;
    height: 30%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Source Code Pro', monospace;
    outline: none;
    padding: 1.2rem 0 0 1rem;
    border-color: #ccc;
    transition: all .3s;
}

.editor-css {
    width: 100%;
    height: 30%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Source Code Pro', monospace;
    outline: none;
    padding: 1.2rem 0 0 1rem;
    border-color: #ccc;
    transition: all .3s;
}

.editor-js {
    width: 100%;
    height: 30%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Source Code Pro', monospace;
    outline: none;
    padding: 1rem 0 0 1rem;
    border-color: #ccc;
    transition: all .3s;
}

.tocl {
    background-color: #37474F;
    color: #eee;
    border-radius: 8px;
    border-width: 0;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 1px;
    height: 3%;
    width: 100%;
    list-style: none;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

textarea {
    resize: none;
}

.iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    white-space: pre;
    right: 0;
    padding: 4px;
}

#ver {
    font-family: 'Source Code Pro', monospace;
    font-size: 2.5rem;
    text-align: right;
    color: lightgray;
    transition: all .3s;
}

/* The container */
.check {
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check .checkmark:after {
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #log-container { overflow: auto; height: 21%; }

  .log-warn { color: orange; font-size: 1rem; margin-left: 4px;}
  .log-error { color: red; font-size: 1rem; margin-left: 4px;}
  .log-info { color: skyblue; font-size: 1rem; margin-left: 4px;}
  .log-log { font-size: 1rem; margin-left: 4px;}

  .log-warn, .log-error { font-weight: bold;}
